<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServerletLogin</servlet-name>
        <servlet-class>controller.ServerletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletRegister</servlet-name>
        <servlet-class>controller.ServerletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletDeletehome</servlet-name>
        <servlet-class>controller.ServerletDeletehome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatehome</servlet-name>
        <servlet-class>controller.updatehome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletlist</servlet-name>
        <servlet-class>controller.Servletlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateaccount</servlet-name>
        <servlet-class>controller.updateaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteaccount</servlet-name>
        <servlet-class>controller.deleteaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletehomeforad</servlet-name>
        <servlet-class>controller.deletehomeforad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtintuc</servlet-name>
        <servlet-class>controller.addtintuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletetintuc</servlet-name>
        <servlet-class>controller.deletetintuc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletDeletehome</servlet-name>
        <url-pattern>/deletehome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatehome</servlet-name>
        <url-pattern>/updatehome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletlist</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateaccount</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteaccount</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletehomeforad</servlet-name>
        <url-pattern>/deletehomeforad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtintuc</servlet-name>
        <url-pattern>/addtintuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletetintuc</servlet-name>
        <url-pattern>/deletetintuc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
